<div class="navbar-talent">
 <!-- Logo -->
 <a  style="text-decoration:none" href="http://localhost:3000/" class="navbar-talent-brand">TALENTSPOOL</a>
 <!-- Right Navigation -->
 <div class="navbar-talent-right hidden-xs hidden-sm">
  <%= render "shared/button", job_offer: @job_offer %>
   <!-- Profile picture with dropdown list -->
  <% if user_signed_in? %>
   <div class="navbar-talent-item">
     <div class="dropdown">
       <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-talent-menu" data-toggle="dropdown">
       <ul class="dropdown-menu dropdown-menu-right navbar-talent-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
       </ul>
     </div>
   </div>
  <% end %>
 </div>
</div>
