<div class="banner" style="background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43730/5b7440818fc501534345345.jpg');">
  <div class="banner-content text-center">
      <h1>Find your ideal job from 200+ jobs</h1>

    <div class="banner-sub-text">
      <p>Marketing</p>
      <p>Sales</p>
      <p>Finance</p>
      <p>HR</p>
      <p>Executive</p>
      <p>Legal</p>
      <p>Tech</p>
    </div>
  </div>
</div>

