.banner {
  height: calc(80vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-content {

  h1 {
    margin-top: 0;
  }

  .banner-sub-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn_all_categories {
    padding-top: 50px;
  }
}


.white-text{
  color: #FFF;
}

.white-text:hover{
  color: #FFF;
}
