.small-interlignage{
  line-height: 8px;
}


.margin-bottom{
  margin-bottom: 20px;
}

.light-grey{
  color: #a3a3a3;
}

.thumbnail{
  transition: transform 0.3s;
}


.circle{
  border-radius: 50%;
}


.card{
    margin: 10px;
    background-color: #FFF;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
}


.card-content{
    padding-left: 45px;
    padding-bottom: 20px;
}
